.container{
    display:grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 100px 100px 100px 100px 400px 220px 150px 100px 100px;
    grid-template-areas: "navbar navbar navbar navbar navbar"
                        "costume-expressions costume-expressions costume-expressions costume-expressions facebook"
                        "costume-expressions costume-expressions costume-expressions costume-expressions twitter"
                        "costume-expressions costume-expressions costume-expressions costume-expressions anon-masks-for-every-face"
                        "costume-expressions costume-expressions costume-expressions costume-expressions anon-masks-for-every-face"
                        "happy-family happy-family serious-about-makeup costumes-for-all pink-hair-girl"
                        "oppenheimer super-sale super-sale candy-man surprised-person"
                        "props no-witnesses i-got-a-rock i-got-a-rock-part-2 witches-ghosts-and-goblins"
                        "mask stars stars"
}

.item-1{grid-area:costume-expressions;}
.item-2{grid-area:facebook;}
.item-3{grid-area:twitter;}
.item-4{grid-area:masks-for-every-face;}
.item-5{grid-area:happy-family;}
.item-6{grid-area:serious-about-makeup;}
.item-7{grid-area:costumes-for-all;}
.item-8{grid-area:pink-hair-girl;}
.item-9{grid-area:oppenheimer;}
.item-10{grid-area:super-sale;}
.item-11{grid-area:candy-man;}
.item-12{grid-area:surprised-person;}
.item-13{grid-area:props;}
.item-14{grid-area:no-witnesses;}
.item-15{grid-area:woman;}
.item-16{grid-area:free-shipping;}
.item-17{grid-area:i-got-a-rock-part-2;}
.item-18{grid-area:i-got-a-rock-part-2;}
.item-19{grid-area:witches-ghosts-and-goblins;}
.item-20{grid-area:mask;}
.item-21{grid-area:stars;}